blockquote,body,dd,div,dl,dt,form,h1,h2,h3,h4,h5,h6,hr,input,li,ol,p,td,textarea,th,ul{margin:0;padding:0}
table{border-collapse:collapse;border-spacing:0}
fieldset,img{border:0}
address,caption,cite,code,dfn,em,strong,th,var{font-weight:400;font-style:normal}
ol,ul{list-style:none}
caption,th{text-align:left}
.f1d5r{font-size:1.5rem}
.f2r{font-size:2rem}
.f2d5r{font-size:2.5rem}
.f3r{font-size:3rem}
.f12{font-size:9pt}
.f14{font-size:14px}
.f16{font-size:1pc}
.f20{font-size:20px}
.fb{font-weight:700}
.t2{text-indent:2em}
.tdn{text-decoration:none}
.tl{text-align:left}
.tc{text-align:center}
.tr{text-align:right}
.fl{float:left}
.fr{float:right}
.cb{clear:both}
.cl{clear:left}
.cr{clear:right}
.vm{vertical-align:middle}
.pr{position:relative}
.pa{position:absolute}
.zoom{zoom:1}
.hidden{visibility:hidden}
.none{display:none}
.w10{width:10px}
.w20{width:20px}
.w40{width:40px}
.w60{width:60px}
.w80{width:5pc}
.w100{width:75pt}
.w200{width:200px}
.w300{width:300px}
.w{width:100%}
.h50{height:50px}
.h100{height:75pt}
.h200{height:200px}
.h{height:100%}
.h2r{height:2rem}
.h2d5r{height:2.5rem}
.h3r{height:3rem}
.cw{color:#fff}
.cb{color:#000}
.pr1r{padding-right: 1rem}
.pt1r{padding-top: 1rem;}